# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Environments
.env
.envrc
.venv/
env/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Dynamic User Uploads (do not commit test uploads)
Flask Application/static/uploads/*
!Flask Application/static/uploads/.gitkeep
static/uploads/*
!static/uploads/.gitkeep

# Large Archives & Local Datasets
archive.zip
chest_xray/

# IDE
.vscode/
.idea/
.ipynb_checkpoints/
